In [ ]:
# pip install ucimlrepo

In [1]:
import pandas as pd
from ucimlrepo import fetch_ucirepo
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import PowerTransformer, StandardScaler
from sklearn.decomposition import PCA

import yaml

In [2]:
warnings.filterwarnings("ignore")

In [3]:
# Ir al directorio raíz del proyecto
%cd ..

C:\Users\cocot\Documents\Maestria en IA\Materias\MLOps\Proyecto\Codigo\mlops_basics

In [4]:
!python src/stages/data_load.py --config=params.yaml

Log: Data load
Log: Save raw data file

In [5]:
with open('params.yaml') as conf_file:
        config = yaml.safe_load(conf_file)

data = pd.read_csv(config['data']['dataset_csv'])

In [6]:
# Dimensionalidad del dataframe
print(data.shape)

(253680, 22)

In [7]:
data.head()

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,Diabetes_binary
0,1,1,1,40,1,0,0,0,0,1,...,0,5,18,15,1,0,9,4,3,0
1,0,0,0,25,1,0,0,1,0,0,...,1,3,0,0,0,0,7,6,1,0
2,1,1,1,28,0,0,0,0,1,0,...,1,5,30,30,1,0,9,4,8,0
3,1,0,1,27,0,0,0,1,1,1,...,0,2,0,0,0,0,11,3,6,0
4,1,1,1,24,0,0,0,1,1,1,...,0,2,3,0,0,0,11,5,4,0

In [8]:
!python src/stages/featurize.py --config=params.yaml

Log: Load dataset
Log: Save features data file

In [9]:
final_df = pd.read_csv(config['featurize']['features_path'])

In [10]:
final_df

,HighBP,HighChol,CholCheck,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,DiffWalk,Sex,Diabetes_binary,PC1,PC2,PC3,PC4,PC5
0,1,1,1,1,0,0,0,0,1,0,1,0,1,0,0,19.046237,7.957808,7.357483,-1.978446,1.624570
1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,-5.412792,-2.321340,-0.530722,0.198160,5.263602
2,1,1,1,0,0,0,0,1,0,0,1,1,1,0,0,35.454859,-7.268366,8.016676,-0.598797,-4.101622
3,1,0,1,0,0,0,1,1,1,0,1,0,0,0,0,-5.374086,-0.468086,-0.761296,-3.087575,0.401031
4,1,1,1,0,0,0,1,1,1,0,1,0,0,0,0,-4.192736,-3.924029,1.452783,-3.440744,1.754927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,1,1,1,0,0,0,0,1,1,0,1,0,0,1,0,1.625424,16.816332,-1.205728,3.097564,-0.943302
253676,1,1,1,0,0,0,0,0,0,0,1,0,1,0,1,-6.595888,-9.225237,-1.620007,-3.382453,3.047211
253677,0,0,1,0,0,0,1,1,0,0,1,0,0,0,0,-5.148816,0.670916,0.287992,5.249611,5.063322
253678,1,0,1,0,0,0,0,1,1,0,1,0,0,1,0,-5.727460,-4.272373,-0.717629,0.185503,5.564118
253679,1,1,1,0,0,1,1,1,0,0,1,0,0,0,1,-5.516924,-2.386103,-0.725009,-1.552791,3.863184

In [11]:
final_df.head()

,HighBP,HighChol,CholCheck,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,DiffWalk,Sex,Diabetes_binary,PC1,PC2,PC3,PC4,PC5
0,1,1,1,1,0,0,0,0,1,0,1,0,1,0,0,19.046237,7.957808,7.357483,-1.978446,1.624570
1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,-5.412792,-2.321340,-0.530722,0.198160,5.263602
2,1,1,1,0,0,0,0,1,0,0,1,1,1,0,0,35.454859,-7.268366,8.016676,-0.598797,-4.101622
3,1,0,1,0,0,0,1,1,1,0,1,0,0,0,0,-5.374086,-0.468086,-0.761296,-3.087575,0.401031
4,1,1,1,0,0,0,1,1,1,0,1,0,0,0,0,-4.192736,-3.924029,1.452783,-3.440744,1.754927

In [12]:
print(final_df.head())

   HighBP  HighChol  CholCheck  Smoker  Stroke  HeartDiseaseorAttack  \
0       1         1          1       1       0                     0
1       0         0          0       1       0                     0
2       1         1          1       0       0                     0
3       1         0          1       0       0                     0
4       1         1          1       0       0                     0

   PhysActivity  Fruits  Veggies  HvyAlcoholConsump  AnyHealthcare  \
0             0       0        1                  0              1
1             1       0        0                  0              0
2             0       1        0                  0              1
3             1       1        1                  0              1
4             1       1        1                  0              1

   NoDocbcCost  DiffWalk  Sex  Diabetes_binary        PC1       PC2       PC3  \
0            0         1    0                0  19.046237  7.957808  7.357483
1            1         0    0                0  -5.412792 -2.321340 -0.530722
2            1         1    0                0  35.454859 -7.268366  8.016676
3            0         0    0                0  -5.374086 -0.468086 -0.761296
4            0         0    0                0  -4.192736 -3.924029  1.452783

        PC4       PC5
0 -1.978446  1.624570
1  0.198160  5.263602
2 -0.598797 -4.101622
3 -3.087575  0.401031
4 -3.440744  1.754927